<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-trtc"
        version="1.0.0">
    <name>Trtc</name>
    <description>TRTC Plugin</description>
    <keywords>cordova,TRTC,live</keywords>
    <license>MIT License</license>

    <preference name="APP_ID" default="sdk_app_id" />
    <preference name="PERMISSION_MIC_DESC" default="应用需要访问您的麦克风" />
    <preference name="PERMISSION_CAMERA_DESC" default="应用需要访问您的摄像头" />

    <engines>
        <engine name="cordova-android" version=">=4.0.0" />
    </engines>

    <js-module src="www/trtc.js" name="trtc">
        <clobbers target="Trtc" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Trtc">
                <param name="ios-package" value="TrtcPlugin" />
                <!-- <param name="onload" value="true" /> -->
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$PERMISSION_MIC_DESC</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$PERMISSION_CAMERA_DESC</string>
        </config-file>

        <header-file src="src/ios/TrtcPlugin.h" />
        <source-file src="src/ios/TrtcPlugin.m" />

        <resource-file src="src/ios/TrtcConfig.plist" />
        <!-- <resource-file src="src/ios/name.storyboard" target-dir="" /> -->
        <!-- <resource-file src="src/ios/Assets.xcassets" /> -->

        <!-- lib -->
        <framework src="Accelerate.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="ImageIO.framework" />
        <framework src="JavaScriptCore.framework" />
        <framework src="OpenAL.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="VideoToolbox.framework" />
        <framework src="libbz2.tbd" />
        <framework src="libc++.tbd" />
        <framework src="libiconv.tbd" />
        <framework src="libicucore.tbd" />
        <framework src="libprotobuf.tbd" />
        <framework src="libresolv.tbd" />
        <framework src="libsqlite3.tbd" />
        <framework src="libstdc++.6.tbd" />
        <framework src="libstdc++.tbd" />
        <framework src="libz.tbd" />

        <!-- sdk -->
        <framework src="src/ios/libs/AVSDK/QAVSDK.framework" custom="true" />

        <framework src="src/ios/libs/IMSDK/IMCore.framework" custom="true" />
        <framework src="src/ios/libs/IMSDK/ImSDK.framework" custom="true" />
        <framework src="src/ios/libs/IMSDK/IMSDKBugly.framework" custom="true" />
        <framework src="src/ios/libs/IMSDK/QALSDK.framework" custom="true" />
        <framework src="src/ios/libs/IMSDK/TLSSDK.framework" custom="true" />

        <framework src="src/ios/libs/ILiveSDK/ILiveSDK.framework" custom="true" />
        <framework src="src/ios/libs/ILiveSDK/ILiveLogReport.framework" custom="true" />
        <framework src="src/ios/libs/ILiveSDK/TILLiveSDK.framework" custom="true" />

        <header-file src="src/ios/libs/BeautySDK/include/TXCRenderView.h" />
        <header-file src="src/ios/libs/BeautySDK/include/TXCVideoPreprocessor.h" />
        <header-file src="src/ios/libs/BeautySDK/include/TXEVideoPreprocessorDef.h" />
        <header-file src="src/ios/libs/BeautySDK/include/TXEVideoTypeDef.h" />
        <header-file src="src/ios/libs/BeautySDK/include/TXINotifyDelegate.h" />
        <header-file src="src/ios/libs/BeautySDK/include/TXIVideoPreprocessorDelegate.h" />
        <source-file src="src/ios/libs/BeautySDK/libTXMRenderer.a" framework="true" />
        <source-file src="src/ios/libs/BeautySDK/libTXMVideoPreprocessor.a" framework="true" />
        <source-file src="src/ios/libs/BeautySDK/libTXMBasic.a" framework="true" />

        <config-file target="*TrtcConfig.plist" parent="AppId">
            <string>$APP_ID</string>
        </config-file>
    </platform>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Trtc">
                <param name="android-package" value="com.chuwa.cordova.trtc.Trtc" />
                <!-- <param name="onload" value="true" /> -->
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="trtc_app_id">$APP_ID</string>
            <string name="str_enter_tips">腾讯视频通话</string>
            <string name="str_room_title">房间名</string>
            <string name="str_room_id">房间ID</string>
            <string name="str_create_btn">创建房间</string>
            <string name="str_switch_camera">翻转</string>
            <string name="str_chat_tab">聊天</string>
            <string name="str_wb_tab">白板</string>
            <string name="msg_title">消息</string>
            <string name="str_input_tips">输入文字内容</string>
            <string name="str_beauty">美颜</string>
            <string name="str_log">日志</string>
            <string name="str_voice">声音</string>
            <string name="str_room_id_tips">输入房间号</string>
            <string name="str_enter_room_btn">进入房间</string>
            <string name="str_role">配置</string>
            <string name="str_feedback">反馈</string>
            <string name="str_set_role">请选择要配置的分辨率</string>
            <string name="str_chat">聊天</string>
            <string name="str_set_problem">请选择反馈类型</string>
            <string name="str_problem_other">请输入具体问题描述</string>
            <string name="str_feedback_ret">非常感谢您的反馈</string>
            <string name="str_login_success">登录成功</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.chuwa.cordova.trtc.CreateActivity" android:launchMode="singleTask" android:screenOrientation="portrait">
            </activity>
            <activity android:name="com.chuwa.cordova.trtc.RoomActivity" android:windowSoftInputMode="adjustPan" android:launchMode="singleInstance" android:screenOrientation="portrait">
            </activity>
        </config-file>

        <source-file src="src/android/Trtc.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/FakeR.java" target-dir="src/com/chuwa/cordova/trtc" />

        <source-file src="src/android/videocall/trtcsdk/MessageObservable.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/trtcsdk/SDKHelper.java" target-dir="src/com/chuwa/cordova/trtc" />

        <source-file src="src/android/videocall/trtcsdk/view/LoginView.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/trtcsdk/view/OfflineView.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/trtcsdk/view/RoomView.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/trtcsdk/view/SpeedTestView.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/trtcsdk/view/TipsView.java" target-dir="src/com/chuwa/cordova/trtc" />

        <source-file src="src/android/videocall/trtcsdk/model/RoomTipsInfo.java" target-dir="src/com/chuwa/cordova/trtc" />

        <source-file src="src/android/videocall/ui/Constants.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/ui/CreateActivity.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/ui/RoomActivity.java" target-dir="src/com/chuwa/cordova/trtc" />

        <source-file src="src/android/videocall/ui/utils/AppRuningWatcher.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/ui/utils/DlgMgr.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/ui/utils/MsgListView.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/ui/utils/RadioGroupDialog.java" target-dir="src/com/chuwa/cordova/trtc" />

        <source-file src="src/android/videocall/ui/adapter/ChatMsgAdapter.java" target-dir="src/com/chuwa/cordova/trtc" />

        <source-file src="src/android/videocall/bussiness/OKHelper.java" target-dir="src/com/chuwa/cordova/trtc" />

        <source-file src="src/android/videocall/bussiness/view/SyncPrivateMapkeyView.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/bussiness/view/SyncUserInfoView.java" target-dir="src/com/chuwa/cordova/trtc" />

        <source-file src="src/android/videocall/bussiness/model/BussinessConstants.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/bussiness/model/LoginInfo.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/bussiness/model/PrivateMapKeyInfo.java" target-dir="src/com/chuwa/cordova/trtc" />
        <source-file src="src/android/videocall/bussiness/model/UserInfo.java" target-dir="src/com/chuwa/cordova/trtc" />

        <resource-file src="src/android/res/layout/create_activity.xml" target="res/layout/create_activity.xml" />
        <resource-file src="src/android/res/layout/item_msg.xml" target="res/layout/item_msg.xml" />
        <resource-file src="src/android/res/layout/room_activity.xml" target="res/layout/room_activity.xml" />

        <resource-file src="src/android/res/drawable/img_chat_black.xml" target="res/drawable/img_chat_black.xml" />
        <resource-file src="src/android/res/drawable/radio_border.xml" target="res/drawable/radio_border.xml" />
        <resource-file src="src/android/res/drawable/underline.xml" target="res/drawable/underline.xml" />

        <resource-file src="src/android/res/values/arrays.xml" target="res/values/arrays.xml" />
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
        <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />

        <resource-file src="src/android/res/values-v19/styles.xml" target="res/values-v19/styles.xml" />

        <resource-file src="src/android/res/mipmap-hdpi/beauty.png" target="res/mipmap-hdpi/beauty.png" />
        <resource-file src="src/android/res/mipmap-hdpi/beauty2.png" target="res/mipmap-hdpi/beauty2.png" />
        <resource-file src="src/android/res/mipmap-hdpi/camera.png" target="res/mipmap-hdpi/camera.png" />
        <resource-file src="src/android/res/mipmap-hdpi/camera2.png" target="res/mipmap-hdpi/camera2.png" />
        <resource-file src="src/android/res/mipmap-hdpi/chat.png" target="res/mipmap-hdpi/chat.png" />
        <resource-file src="src/android/res/mipmap-hdpi/com_bg.png" target="res/mipmap-hdpi/com_bg.png" />
        <resource-file src="src/android/res/mipmap-hdpi/feedback.png" target="res/mipmap-hdpi/feedback.png" />
        <resource-file src="src/android/res/mipmap-hdpi/log.png" target="res/mipmap-hdpi/log.png" />
        <resource-file src="src/android/res/mipmap-hdpi/log2.png" target="res/mipmap-hdpi/log2.png" />
        <resource-file src="src/android/res/mipmap-hdpi/mic.png" target="res/mipmap-hdpi/mic.png" />
        <resource-file src="src/android/res/mipmap-hdpi/mic2.png" target="res/mipmap-hdpi/mic2.png" />
        <resource-file src="src/android/res/mipmap-hdpi/multiroom.png" target="res/mipmap-hdpi/multiroom.png" />
        <resource-file src="src/android/res/mipmap-hdpi/muti_room_bg.png" target="res/mipmap-hdpi/muti_room_bg.png" />
        <resource-file src="src/android/res/mipmap-hdpi/role.png" target="res/mipmap-hdpi/role.png" />

        <!-- <lib-file src="src/android/libs/lib.jar" /> -->

        <framework src="src/android/libs/trtc.gradle" custom="true" type="gradleReference" />

        <framework src="com.android.support:appcompat-v7:27.0.1" />
    </platform>

</plugin>
